// Website global parameters.
$window-width: 1920px;

// Colors.
$dark-color: black;
$light-color: rgb(241, 241, 241);
$main-color: rgba(255, 217, 0, 0.87);
$medium-color: rgb(190, 190, 190);

// Images.
$bg-image: url('');